* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.divider {
  padding: 0 1rem;
}

body {
  font-family: "BIZ UDPGothic", sans-serif;
  background-color: white;
  line-height: 180%;
  margin: 0;
}

.wrapper {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

form {
  margin: 0;
}

textarea.recognizingTextArea {
  width: 1280px;
  height: 720px;
  padding: 0px;
  border: none;
  background-color: black;
  color: white;
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 160%;
  resize: none;
}

.form-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.config-item {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

button,
input,
select {
  font-size: 100%;
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
}

label {
  color: black;
  font-weight: bold;
}

.instructions {
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
}
